<% include header %>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
			<div class="nav-collapse collapse">
			</div>
		</div>
	</div>
</div>

<div>
	<center>
		<div><font color="red"><%= message %></font></div>
		<br>	
		<div>
			<b>Name:</b> <%= name %> <br>
			<b>Email:</b> <%= email %> <br>
			<b>Username:</b> <%= username %> <br>
			<b>Spire ID:</b> <%= spireid %> <br>
			<br>
			By clicking submit below, I confirm that the information above is correct.
		</div>
		<br>
		<h3>Create your password</h3>
		<form method="post" action="/createpwProcess">
			<input class="span2" type="password" placeholder="New Password" name="password1"> <br>
			<input class="span2" type="password" placeholder="Retype Password" name="password2"> <br>
			<input type="text" name="regUsername" style="visibility:hidden" value="<%= username %>"><br>
			<button type="submit" class="btn">Submit</button><br>
		</form>
	</center>
</div>

<% include footer %>