<% include header %>
<% include navbar %>

<div class="container">
	<div>
		<h3>
			<%= semester %> | <%= courseCode %> | <%= courseTitle %> | <%= lectureDate %> | Lecture <%= lectureNum %>
		</h3>
	</div>
	
</div>

<% include footer %>